.main {
  height: 75vh;
  box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
  width: 50%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 3px;
  overflow: hidden;
  @include respond(largeTablet) {
    height: 50vh;
    width: 80%;
  }
  @include respond(tablet) {
    height: 50vh;
    width: 95%;
  }
  @include respond(largePhone) {
    height: 100vh;
    width: 100%;
  }
}